<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product manager</title>
</head>
<body>
<center>
    <h2>Create Product</h2>
    <span th:if="${mess != null}" th:text="${mess}"></span>
    <form method="post">
    <table>
        <tbody>
        <tr>
            <td>Tên sản phẩm</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Giá bán</td>
            <td><input type="text" name="price"></td>
        </tr>
        <tr>
            <td>Số lượng</td>
            <td><input type="text" name="total"></td>
        </tr>
        <tr>
            <td>Mô tả</td>
            <td><input type="text" name="description"></td>
        </tr>
        <tr>
            <td>Thương hiệu</td>
            <td><input type="text" name="producer"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add"></td>
        </tr>
        </tbody>
    </table>
    </form>
    <br />
    <br />
    <a href="/products">Back to list</a>
</center>
</body>
</html>
